<div class="container">
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs">
        <!-- <li
           role="presentation"
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="/">Home</a>
        </li>  -->
        <li role="presentation" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="addmanager">Add Manager</a>
        </li>
        <li role="presentation" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="addcustomer">Add Customer</a>
        </li>
        <li role="presentation" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="addengineer">Add Engineer</a>
        </li>
        <li role="presentation" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="viewmanager">View Manager</a>
        </li>
        <li role="presentation" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="viewcustomer">View Customer</a>
        </li>
        <li role="presentation" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="viewengineer">View Engineer</a>
        </li>
        <li role="presentation" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="users">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
