<div class="container h-85 mt-3">
  <h2>Complaint List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Pincode</th>
        <th>Phonenumber</th>
        <th>Type of Problem</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.name }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.pincode }}</td>
        <td>{{ customer.phonenumber }}</td>
        <td>{{ customer.typeofproblem }}</td>
        <td>{{ customer.status }}</td>
        <td>
          <button (click)="changestatus(customer.name)" class="btn btn-info">
            Change Status
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
